#pageTitle {
    font-size: 20px;
}

.currentTemps {
    font-size: 16px;
}

#lblTimeRange
{
    display: none;
}

#lstDiv {
    width: 320px;
}

#chartArea {
    margin-top:15px;
}

#chartTitle {
    display: none;
}

#chart_div {
    height: 360px;
}

.fullWords {
    display: none;
}

.tblContainer {
    margin-top: 20px;
}

table.minMaxAvgTable {
    width: 90%;
}

table.maxAvgTable {
    margin: 10px auto 0px auto !important;
}

table.statsTable {
    margin: 0 auto;
}

#tblLastTemps {
    width: auto
}

#statsArea {
    width:60%;
    overflow:hidden;
}

#minMaxAvg {
    width:50%;
    float:left;
}

#lastHour {
    width:50%;
    overflow:hidden;
}